.buildpath
.project
.settings

*.DS_Store
Raw/*

# ignore generated html files,
*.html

# ignore objects and archives, anywhere in the tree.
*.[oa]
    
# Security Purposes
*/config/database.php
assets/*


# Code Igniter Ignore
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/application/config/database.php
*.project
/Raw
/user_guide
/assets/Gazettes
/application/config/database.php
/application/config/config.php
*~
