.buildpath
.project
.settings

# ignore generated html files,
*.html

*.DS_Store
Raw/*

# exclude everything except directory application
*.[oa]
*.zip
*~
*
!application
application/*
!application/views
!application/models
!application/controllers

!assets/db
application/config/database.php
application/config/config.php
