/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

html, body { 
  
}

body {
  background-color: #FAFAFA !important;
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width: 768px) {
  body { padding-top: 60px; }
}

@media (min-width: 768px) and (max-width: 991px) {
  body { padding-top: 60px; }
  /*.container { width: 920px; }*/
}

a {
  color: #00A7AE !important;
}

.row {
  margin: auto 0 auto 0 !important;
}

.navbar {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-collapse {
  border: none;
}

#search input[type="text"] {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  height: 40px;
  margin: 10px 0 20px 0;
  width: 400px !important;
}

.query input[type="text"] {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  height: 30px;
  margin: 0px 10px 5px 0;
  width: 295px;
}

#search input[type="submit"] {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  height: 42px;
  width: 100px;
}

.query input[type="submit"] {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 32px;
  width: 75px;
}

#body.container {
/*  min-height: 100%;
  height: auto !important;
  height: 100%;*/
  margin: 0 auto -10px;
}

#content {
  height: 100%;
}

.top-cont {
  background: #EEEEEE; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #EEEEEE 0%,#FFFFFF 100%); /* IE10+ */
  background: linear-gradient(to bottom, #EEEEEE 0%,#FFFFFF 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */

  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  /*height: 70px;*/
}

.api-top-cont {
  background: #E0E0E0; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #E0E0E0 0%, #F7F7F7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%); /* IE10+ */
  background: linear-gradient(to bottom, #E0E0E0 0%,#F7F7F7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#F7F7F7',GradientType=0 ); /* IE6-8 */

  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  /*height: 70px;*/
}

.navbar {
  margin-bottom: 0;
}

.logo {
  margin-bottom: 0.2%;
  margin-top: 0.5%;
}

/*.logo img{
  width: 50%;
}*/

.menu-items .nav-pills > li.active > a, .menu-items .nav-pills > li.active > a:hover, .menu-items .nav-pills > li.active > a:focus {
  background-color: #00A7AE;
  color: #FFFFFF !important;
}

.menu-items .nav > li > a:hover, .menu-items .nav > li > a:focus {
  background-color: #D7DEE3;
}

.menu-items .nav-pills > li > a {
  border-radius: 0; 
}

.menu-items .nav > li > a {
  padding: 35px 15px 20px !important;
}

.menu-items a {
  font-family: 'Istok Web', sans-serif;
}

.menu-items a:hover, .menu-items a:focus {
  color: #2c3e50;
}

@media screen and (max-width: 768px) {
  .menu-items .nav > li > a {
    padding: 20px 15px !important;
  }

  .logo img {
    max-width: 220px !important;
    margin-top: 2%;
  }
}

@media screen and (max-width: 400px) {
  .logo img {
    max-width: 100px !important;
  }
}

#content {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
}

#cityscape {
  background: url('../../assets/img/bikenews.jpg') 0 0 no-repeat;
  background-size: cover;
  color: #FFF;
  height: 340px;
  margin: 0px;
  position: relative;
  text-align: center;
}

.tagline {
  padding-top: 4%;
}

.tagline h2 {
  font-family: 'Caudex', serif;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0 0 8px #000;
}

.description h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-shadow: 0 0 5px #000;
}

.description {
  background-color: rgba(50, 50, 50,.7);
  padding-left: 2%;
  position: absolute; bottom: 6%;
}

#search, #datapop {
  background: url('../../assets/img/pw_pattern.png') repeat fixed transparent;
  margin: 0;
  padding-top: 40px;
}

#search {
  border-top: 1px solid #E5E5E5;
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  padding-top: 40px;
  text-align: center;
}

.query {
  font-family: 'Istok Web', sans-serif;
  font-weight: 400;
  text-align: center;
}

#search h2, #about-us h1 {
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#search-results, #admin-board {
  background: #fff;
  margin: 0;
  padding-left: 20px;
  padding-top: 60px;
}

#search-results h2 {
  color: #666;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-left: 20px;
}

.results {
  padding-bottom: 30px;
}

.results li {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  list-style: none;
}

.results li a {
  color: #00AAD4;
}

.results-pages {
  text-align: center;
}

#datapop h3 {
  color: #330000;
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.stats {
  text-align: center;
  text-transform: uppercase;
}

.stats img {
  margin-bottom: 12px;
  max-width: 45px;
  margin-left: auto; margin-right: auto;
}

.stats h4 {
  color: #666;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 24px;
}

.stats h5 {
  font-family: 'Monda', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.people {
  color: #B0BC2A;
}

.cases {
  color: #800080;
}

.organisations {
  color: #FF5555;
}

.tenders {
  color: #37abc8;
}

.land {
  color: #419ce8;
}

.grants {
  color: #ff510a;
}

.figures {
  margin-top: 20px;
}

.topfive {
  margin-left: 12px;
  margin-top: 12px;
}

.topfive ol li {
  color: #666;
  font-size: 22px;
  font-family: 'Monda', sans-serif;
  font-weight: 700;
  line-height: 36px;
}

.topfive a {
  color: #00AAD4;
  font-size: 22 px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.8;
}

.disclaimer {
  color: #999;
  font-family: 'Istok Web', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 40px;
  padding-bottom: 5px;
  text-align: center;
}

#partners {
  background: #FEFEFE;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  color: #999;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#partners h2 {
  color: #330000;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: center; 
}

#partner-logos img {
  margin-left: auto;
  margin-right: auto;
}

#visualisation {
  background: url('../../assets/img/fabric_of_squares_gray.png') repeat fixed transparent !important;
  padding: 60px 10px 30px 10px;
}

#visualisation h2 {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin: 5px;
}

#vis_checkbox {
  display: none;
}

#container_vis {
  clear: both;
  padding-top: 20px;
  position: relative;
}

#mobi-center-container, #desktop-center-container {
  background: transparent;
}

#right-container, #top-container {
  background: rgba(0,0,0,0.05);
  border: 1px #E6E6E6 solid;
  overflow: auto; 
  text-align: center;
}

#right-container {
  float: right;
  right: 0;
}

.hide {
  display: none;
}

#left-container, 
#right-container, 
#mobi-center-container,
#desktop-center-container {
  height: 600px;
  position: relative;
  top: 0;
}

#top-container {
  height: 160px;
}

.inner-header {
  padding-left: 20px;
}

.inner-details {
  margin-top: 10px;
  padding: 0 10px 0 30px;
}

.inner-details h4 {
  color: #B0BC2A;
  font-family: 'Monda', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.inner-details h3 a {
  color: #00AAD4;
  font-family: 'Monda', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.inner-details p {
  font-family: 'Istok Web', sans-serif;
  font-size: 14px;
}

.inner-details li {
  border-bottom: 1px solid #FAFAFA;
  margin: 0 0 20px 0;
}

.inner-details ol, .inner-details ul, .inner-details li {
  list-style: none;
  padding: 0;
}

.inner-details .status .st-verb {
  font-weight: 700;
  text-transform: uppercase;
}

.st-verb {
  font-weight: 700;
}

.col1_head {
  font-weight: bold;
}

.col2_head {

}

#footer {
  border-top: 1px solid #e5e5e5;
  font-family: 'Istok Web', sans-serif;
  padding: 10px 0 0 10px;
  margin-top: 10px;
  text-align: center;
}

.footer-links, .copyright, .social-media {
  margin-top: 0.2%;
}

.footer-links, .footer-links a {
  font-size: 13px;
  text-shadow: 0 0 2px #000;
}

.copyright a, .copyright p {
  color: #ccc !important;
  font-size: 11px;
}

.social-media img {
  height: 32px; width: 32px;
  margin-right: 10px;
}

body.api {
  padding-top: 0;
}

.api-footer a {
  text-shadow: none;
}

#about-us {
  padding: 20px 0;
  text-align: center;
}

#about-us p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}

#about-us a.oi {
  color: #FB6300 !important;
}

#about-us .jumbotron {
  background: none;
  padding-bottom: 0;
}

#about-us .jumbotron p {
  color: #666;
  font-size: 20px;
}

#api {
  background: url('../../assets/img/escheresque_ste.png') repeat fixed transparent;
  text-align: center;
}

#api .jumbotron {
  background: transparent;
  color: #eee;
  margin-bottom: 10px !important;
  text-shadow: 0 0 3px #000;
}

.signup{
  font-size: 14px;
  position: relative;
  padding: 39px 19px 14px; margin-bottom: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.signup:after{
  content: "Signup for API key";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}

.controls input[type="text"], .controls input[type="url"], .controls textarea {
  width: 450px;
}

.label-default {
  background-color: transparent;
}

.documentation {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.bs-docs-sidenav.affix {
  top: 60px;
}
